.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

@media screen and (min-width: 750px) {
  .newsletter-form {
    align-items: flex-start;
    margin: 0 auto;
    max-width: 36rem;
  }
}

.newsletter-form__field-wrapper {
  width: 100%;
}

.newsletter-form__field-wrapper .field__input {
  padding-right: 5rem;
}

.newsletter-form__field-wrapper .field {
  z-index: 0;
}

.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}

@media screen and (min-width: 750px) {
  .newsletter-form__message {
    justify-content: flex-start;
  }
}

.newsletter-form__button {
    width: 17.1rem;
    margin: 0;
    right: var(--inputs-border-width);
    top: 0;
    height: 100%;
    z-index: 2;
    background-color: #FBB040;
    border-radius: 290px;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.newsletter-form__button:focus-visible {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:focus {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
/*   background-color: inherit; */
}

.newsletter-form__button .icon {
  width: 1.5rem;
}

.richtext-form__field-wrapper .field__input {
    border-radius: 290px;
    background: transparent;
    border: 1px solid #FBB040;
    font-size: 14px;
    color: #fff;
    box-shadow: none;
}
.richtext_mail {
    margin-top: 32px;
}