.totals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #E1E1E1;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
}
.totals > * {
  font-size: 1.6rem;
  margin: 0;
}

.totals > h2 {
  font-size: calc(var(--font-heading-scale) * 1.6rem);
}

.totals * {
  line-height: 1;
}

.totals > * + * {
  margin-left: 0rem;
}

.totals__subtotal-value {
  font-size: 1.8rem;
}

.cart__ctas + .totals {
  margin-top: 2rem;
}
.totals__subtotal {
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 400;
}
.totals__subtotal-value {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
}

@media all and (min-width: 750px) {
  .totals {
    justify-content: center;
  }
}
