
@font-face {
    font-family: 'Univers LT Std';
    src: url('https://cdn.shopify.com/s/files/1/0514/5283/8047/files/UniversLTStd.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0514/5283/8047/files/UniversLTStd.woff') format('woff'),
        url('https://cdn.shopify.com/s/files/1/0514/5283/8047/files/UniversLTStd.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('https://cdn.shopify.com/s/files/1/0514/5283/8047/files/UniversLTStd-Black.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0514/5283/8047/files/UniversLTStd-Black.woff') format('woff'),
        url('https://cdn.shopify.com/s/files/1/0514/5283/8047/files/UniversLTStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('https://cdn.shopify.com/s/files/1/0514/5283/8047/files/UniversLTStd-Bold.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0514/5283/8047/files/UniversLTStd-Bold.woff') format('woff'),
        url('https://cdn.shopify.com/s/files/1/0514/5283/8047/files/UniversLTStd-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('https://cdn.shopify.com/s/files/1/0514/5283/8047/files/UniversLTStd-BoldEx.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0514/5283/8047/files/UniversLTStd-BoldEx.woff') format('woff'),
        url('https://cdn.shopify.com/s/files/1/0514/5283/8047/files/UniversLTStd-BoldEx.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('https://cdn.shopify.com/s/files/1/0514/5283/8047/files/UniversLTStd-Light.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0514/5283/8047/files/UniversLTStd-Light.woff') format('woff'),
        url('https://cdn.shopify.com/s/files/1/0514/5283/8047/files/UniversLTStd-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

*{
  font-family: 'Univers LT Std' !important;
}

button.slick-prev {
    display: none !important;
}
button.slick-next {
    display: none !important;
}
.banner-slider ul.slick-dots {
    font-size: 0;
    display: flex;
    align-items: end;
    justify-content: center;
    height: 32px;
}
.banner-slider ul.slick-dots li button {
    font-size: 0;
    width: 8px;
    height: 8px;
    border: none;
    padding: 0;
}
.banner-slider ul.slick-dots li button {
    margin-left: 4px;
    background: #D9D9D9;
}

.banner-slider ul.slick-dots .slick-active button {
    background: #0076C0;
}
.list-sub_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.list-sub_menu li {
    list-style: none;
}
.list-sub_menu li a {
    padding: 0 32px 0 0;
    font-weight: 400;
}
.header__inline-sub_menu {
    background: #0162A2;
    padding: 16px 0;
}
.collection .card__heading a {
    font-size: 18px;
}
.collection .price.price--on-sale {
    font-size: 15px;
    color: #000;
}
.collection__title .title {
    color: #001E51;
}
.collection .card__inner {
    padding-bottom: 99%;
}
.collection .card--media .card__inner .card__content {
    position: relative;
    padding: calc(var(--image-padding) + 1rem);
    display: none;
}
.collection s.price-item.price-item--regular {
    display: none;
}
.add_to-cart {
    font-size: 14px;
    font-weight: 700;
    background: #0076C0;
    color: #fff;
    border-radius: 290px;
}
.rich-text {
    background-repeat: no-repeat;
    background-size: cover;
}
.rich-text__heading {
    font-size: 48px;
    color: #fff;
}
.rich-text__text p {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}


.artical_blocks {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.left_artical .artical_content {
    text-align: center;
}
.artical_title {
    font-size: 20px;
    color: #000;
}
.artical_desc {
    font-size: 15px;
    color: #5F6062;
}
.left_blog {
    max-width: 752px;
    width: 100%;
}
.right_blog {
    max-width: 568px;
    width: 100%;
}
.more_detail {
    color: #0076C0;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}
.left_artical .artical_title {
    margin: 6px 0 12px 0;
}
.left_artical .artical_desc {
    margin: 0 0 24px 0;
}
.right_artical_title {
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
}
.artical_view {
    font-size: 14px;
    line-height: 23px;
    font-weight: 700;
    text-decoration: none;
    color: #0076C0;
    letter-spacing: 1px;
}
.right_main_artical {
    display: flex;
    align-items: flex-start;
    margin: 0 0 24px 0;
}
.right_main_artical .artical_img {
    margin: 0 32px 0 0;
}
.right_artical .artical_title {
    margin: 12px 0 24px 0;
}
.right_artical .artical_title {
    margin: 12px 0 24px;
    font-size: 18px;
}
.main_title {
    font-size: 36px;
    margin: 0 0 24px 0;
}
.btn_with-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 28px 0;
}
.banner_buttons .banner__buttons:first-child {
    margin-right: 16px;
}
.banner_desc {
    color: #FBB040;
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 16px;
}
.slideshow__text .banner__heading {
    font-size: 48px;
    color: #fff;
    margin: 0 0 16px 0;
    width: 100%;
}
.banner_buttons {
    width: 100%;
}
.banner_buttons .banner__buttons:first-child .button {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 290px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    padding: 0 41px;
    opacity:1;
}
.banner_buttons .banner__buttons:last-child .button {
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    border-radius: 290px;
    padding: 0 35px;
    opacity:1;
}

.bg_img_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}
.image_content_box {
    position: relative;
    width: 50%;
    padding: 0 8px;
}
.image_with-content-2 .image_content_box {
    position: relative;
    width: 33.33%;
    padding: 0 8px;
}
.content_heading {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 8px 0;
    color: #fff;
}
.content_disc {
    font-size: 13px;
    color: #fff;
    margin: 0 0 12px 0;
}
.content_img img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}
.image_content {
    position: absolute;
    top: 69px;
    left: 80px;
    max-width: 200px;
}
.more_content {
    text-decoration: none;
    color: #FBB040;
    font-size: 12px;
    letter-spacing: 1px;
}
.collection__view-all {
    position: absolute;
    top: 45px;
    right: 40px;
}
.collection__view-all a {
    color: #001E51;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.image_with-content-2 .image_content {
    top: 43px;
    left: 32px;
    max-width: 192px;
}
.image_with-content-2 .content_heading {
    font-size: 20px;
    margin: 0 0 6px;
}
.image_with-content-2 .content_disc {
    margin: 0 0 10px;
    line-height: 18px;
}

.subscriber_section {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.subscrib_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1068px;
    margin: 0 auto;
    padding: 0 16px;
}
    
.subscribe-form__field-wrapper .field {
    width: 536px;
}
.subscribe-form__field-wrapper .field:after {
    border-radius: 290px;
    border: 1px solid #E6E6E6;
    box-shadow: 0 10px 20px #0000000f;
}
.subscribe-form__field-wrapper .field__input:focus {
    box-shadow: none;
    padding: 0 0 0 24px;
}
.subscribe-form__field-wrapper .field:hover.field:after {
    box-shadow: none;
    border-radius: 290px;
}
.subscribe-form__field-wrapper .field__label, .customer .field label {
    font-size: 15px;
    left: 24px;
    top: 16px;
    line-height: 23px;
    color: #626262;
}
.subscribe-form__field-wrapper .field__input:focus~.field__label{
  display: none;
}
.subscribe_text {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    color: #211E1E;
    letter-spacing: 0;
}
.subscribe-form__field-wrapper .newsletter-form__button {
    background: #0076C0;
    color: #fff;
}

.footer__blocks-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.footer__blocks-wrapper  .footer-block {
    margin-right: 80px;
}
.footer__blocks-wrapper  .footer-block:last-child {
    margin-right: 0px;
}

.join_member {
    display: flex;
    align-items: center;
    width: 100%;
}
.member_title {
    margin-right: 32px;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}
.join_btn {
    padding: 12px 80px;
    background: #E6943E;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    border-radius: 92px;
    font-weight: 700;
    display: block;
}
.footer__content-bottom {
    background: #333333;
}
.footer__list-social li a svg path {
    fill: #fff;
}
.copyright_content {
    text-align: center;
}
.copyright_content p {
    margin: 0 0 16px;
    font-size: 15px;
}
small.copyright__content {
    color: #969696;
}
.btn_with-title-mob{
  display:none;
}
li.list-menu__item span {
    font-size: 15px;
    color: #000;
}
.color_group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.color-swatch {
    margin-right: 10px;
}
.color-swatch__radio {
    clip: rect(0,0,0,0);
    overflow: hidden;
    position: absolute;
    height: 1px;
}
label.color-swatch__button.color-swatch__button--labelled {
    font-size: 0;
    width: 32px;
    height: 32px;
    display: inline-block;
    border: none;
}
.color ul {
    display: none;
}
.product .price__sale {
    font-size: 24px;
    font-weight: 700;
    color: #0A1633;
    line-height: 32px;
}
.membership-price {
    font-size: 18px;
    color: #0076C0;
    font-weight: 700;
}
.price_quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.member-discount {
    padding: 10px 40px 8px 24px;
    margin-bottom: 30px;
    position: relative;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #d37602;
    background: #FFF0E6;
    border-radius: 90px;
    display: inline-block;
    text-decoration: none;
}
.member-discount a {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #d37602;
    background: #FFF0E6;
    border-radius: 90px;
    display: inline-block;
    text-decoration: none;
}
.member-discount_tag {
    position: absolute;
    top: 50%;
    right: -30px;
    line-height: 0;
    transform: translateY(-50%);
}
.member-discount_tag span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    transform: rotate(-13.46deg);
    width: 50%;
    color: #fff;
}
.accordion-container {
    max-width: 852px;
    margin: 0 auto;
    padding: 0 16px;
}
.page_product .related-products__heading {
    color: #001E51;
    font-size: 36px;
    margin: 0 0 40px 0;
}
.page_product .card__heading a {
    font-size: 18px;
}
.page_product .related-products .price__sale {
    font-size: 15px;
    color: #000;
}
h2.drawer__heading {
    font-size: 20px;
}

.page_cart img.cart-item__image {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

img.cart-item__image {
    width: 70px;
    height: 70px;
    object-fit: cover;
}
/* .cart-item__name {
    font-size: 16px;
} */
.page_cart .cart-item__price-wrapper .price {
    font-size: 14px;
    font-weight: 700;
}
.cart-item__details .product-option {
    display: none;
}
.mob_pro-title {
    display: none;
}
.accordion-content ul {
    padding: 0 0 0 16px;
}

.membership_cls.show-membership_product {
    cursor: pointer;
}
.membership_cls {
    margin-bottom: 18px;
    position: relative;
}
.membership_cls .membership_bgimg {
    background-size: 50% 100%;
    background-repeat: no-repeat;
    padding: 13px 24px 10px;
    background-position: top right;
}
.membership_cls:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(89.9deg,#F48F1F -1.84%,#DC8928 57.19%,rgba(212,135,43,0) 86.71%);
    z-index: 0;
}
.membership_inner {
    position: relative;
    z-index: 1;
}
.mesp_title {
    font-size: 19px;
    font-weight: 700;
    line-height: 1.37;
    letter-spacing: 0;
}
p:last-child {
    margin-bottom: 0;
}
.mesp_cnt {
    font-size: 14px;
    margin: 0;
    font-weight: 700;
}
.sub_totals {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.total-subtotal {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    font-weight: 400;
}
.totals-subtotal-value {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}
.cart-item__quantity .cart-item__price-wrapper {
    display: none;
}

@media screen and (max-width:1379px){
  .artical_blocks {
    display: block;
  }
  .left_blog {
    max-width: 100%;
    width: 100%;
    margin-bottom: 30px;
}
  .artical_img img {
    width: 100%;
    object-fit: cover;
}
  .right_main_artical .artical_img img {
    width: 209px;
  }
  .right_blog {
    max-width: 100%;
    width: 100%;
  }
}
@media screen and (max-width:1349px){
  .image_with-content .image_content {
    top: 40px;
    left: 50px;
  }
  .footer__blocks-wrapper .footer-block {
    margin-right: 65px;
  }
}
@media screen and (max-width:1099px){
  .image_with-content .image_content {
    top: 25px;
    left: 35px;
  }
  .footer__blocks-wrapper .footer-block:first-child {
    width: 100%;
    margin: 0;
  }
  .footer__blocks-wrapper .footer-block:first-child .footer-block-image.center{
    justify-content: start;
  }
}

@media screen and (max-width:989px){
  .header__inline-sub_menu {
    display: none;
  }
  .image_content {
    top: 25px;
    left: 45px;
  }
  .image_with-content .bg_img_text {
    display: block;
  }
  .image_content_box {
    width: 100%;
  }
  .image_with-content-2 .bg_img_text {
    flex-wrap: wrap;
  }
  .image_with-content-2 .image_content_box {
    width: 50%;
  }
  .subscrib_content {
    display: block;
    text-align: center;
  }
  .subscribe-form__field-wrapper .field {
    margin: 0 auto;
  }
  .subscribe_text {
    margin: 0 0 32px 0;
  }
  .subscribe-form__field-wrapper .newsletter-form__button {
    top: 71px;
    transform: translateX(-100%);
  }
  .subscribe-form__field-wrapper .field {
    margin: 0 auto 72px;
  }
  .member-discount {
    padding: 10px 35px 8px 15px;
    font-size: 12px;
  }
}

@media screen and (max-width:767px){
  .content_img img {
    height: 200px;
    object-fit: cover;
  }
  .image_with-content-2 .image_content_box {
    width: 100%;
  }
  .subscribe-form__field-wrapper .field {
    width: 328px;
  }
  .subscribe-form__field-wrapper .newsletter-form__button {
    top: 71px;
    transform: translate(-50%);
  }
}
@media screen and (max-width:749px){
  .mob_pro-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .des_pro-title {
    display: none;
  }
  .product__title h1 {
    font-size: 24px;
    line-height: 32px;
  }
  .page_product .related-products__heading {
    font-size: 18px;
    margin: 0 0 16px;
  }
  .page_product .card__heading a {
    font-size: 14px;
  }
  .membership-price {
    font-size: 13px;
  }
  .page_cart img.cart-item__image {
    width: 60px;
    height: 60px;
  }
  .cart-item__quantity .cart-item__price-wrapper {
    display: block;
  }
}
@media screen and (max-width:650px){
  .image_with-content .content_heading {
    font-size: 16px;
    margin: 0 0 2px;
  }
  .image_with-content .content_disc {
    font-size: 12px;
    margin: 0 0 4px;
    line-height: 16px;
  }
  .image_with-content .image_content {
    max-width: 150px;
  }
  .image_with-content .content_img img {
    height: 123px;
    object-fit: cover;
  }
  .image_with-content .image_content {
    top: 14px;
    left: 16px;
  }
  .slideshow__text .banner__heading {
    font-size: 30px;
    width: 100%;
  }
  .banner_buttons .banner__buttons:first-child {
    margin-right: 0;
  }
  .banner__buttons {
    width: 100%;
  }
  .banner_buttons .banner__buttons .button {
    width: 100%;
  }
  .banner_buttons .banner__buttons:first-child {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .btn_with-title-mob{
    display:block;
  }
  .btn_with-title-desc{
    display: none;
  }
  .btn_with-title-mob .artical_view {
    display: none;
  }
  .right_blog {
    display: flex;
    overflow: scroll;
  }
  .right_main_artical {
    display: block;
  }
  .right_artical {
    margin: 0 16px 0 0;
  }
  .right_main_artical .artical_img {
    margin: 0;
  }
  .richtext-form__field-wrapper .newsletter-form__button {
    top: 70px;
    height: 100%;
    width: 100%;
  }
  .rich-text__heading {
    font-size: 30px;
    line-height: 38px;
  }
  .rich-text__text p {
    font-size: 16px;
    line-height: 24px;
  }
  .footer-block--menu {
    width: 50%;
  }
  .footer__blocks-wrapper .footer-block {
    margin-right: 0;
    padding: 0 15px;
  }
  .footer__blocks-wrapper .footer-block:last-child ul {
    columns: 1;
    width: 100%;
  }
  .join_member {
    display: block;
  }
  .member_title {
    text-align: center;
    margin-right: 0;
  }
  .join_btn {
    text-align: center;
    max-width: 234px;
    margin: 0 auto 22px;
    padding: 12px 70px;
  }
  .footer__content-bottom-wrapper {
    margin-top: 32px;
  }
  
}